.extion {
    display: flex;
    padding: 0;
    margin: 0;
    outline: 2px solid tomato;
    list-style: none;
}

.button {
    padding: 0;
    

}

.icon {
    width: 64px;
    height: 64px;
}

.li {
    padding-top: 5px;
}